{{ ansible_managed | comment }}

[Unit]
Description={{ binary_service_description }}
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ binary_system_user }}
Group={{ binary_system_group }}
ExecStart=/usr/local/bin/{{ binary_name }} \
{% for key, value in binary_service_config.items() %}
{{ one_or_two_dashes }}{{ key|e }} {{ value|e }} \
{% endfor %}

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
SyslogIdentifier={{ binary_name }}
Restart=always
RestartSec=1
PrivateTmp=yes
{% for m in ansible_mounts if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

{% if vm_systemd_version | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target